In [19]:
import re
import nltk
import pickle

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import xgboost as xgb

from nltk.corpus import stopwords
from konlpy.tag import Kkma

In [20]:
def extract_kor(string):
    
    #kkam = Kkma()
    
    text_data = [] 
    
    ex_pos = kkma.pos(string)
    
    for (text, tclass) in ex_pos : # ('형태소', 'NNG') 
        if tclass == 'NNG' or tclass == 'NNP' or tclass == 'NP' : 
            text_data.append(text)  
            
    return text_data


def extract_eng(string):
    
    #wlem = nltk.WordNetLemmatizer()
    
    cleaned_content = re.sub(r'[^\.\?\!\w\d\s]', '', string)
    
    word_tokens = nltk.word_tokenize(cleaned_content)
    tokens_pos = nltk.pos_tag(word_tokens)
    
    NN_words = []
    for word, pos in tokens_pos:
        if 'NN' in pos:
            NN_words.append(word.lower())
            
    lemmatized_words = []
    for word in NN_words:
        new_word = wlem.lemmatize(word)
        lemmatized_words.append(new_word)
        
    return lemmatized_words

In [21]:
jd = {'wd_id': 61851,
  'position': '집무실 IoT 개발자',
  'main_tasks': '• 집무실 인프라 구축: (IoT)전원 관리 설계 및 구성, QR 코드 기반 출입 제어 설계 및 구성, 내부 네트워크 설계/구축/관리, IP Camera를 통한 영상 분석 등 집무실에서 사용하는 모든 네트워크 및 IoT 인프라 구축\n• 자동화 관리: 구축된 인프라를 바탕으로한 집무실 공간 자동화 설계 및 구성\n\n• 현재 집무실에서는 이미 QR코드를 통해 출입을 제어하고 네트워크 및 전원 등을 리모트로 관리하고 있습니다. 이런 집무실의 인프라들을 구축하고 관리하게 됩니다.\n• 인프라중 직접 제어가 필요한 경우 개발을 진행합니다.\n• 위의 내용들을 바탕으로 공간 운영 자동화/무인화를 구축합니다.',
  'requirements': '•  IoT를 통한 공간 관리 및 자동화에 대한 높은 관심이 있어야 합니다.\n• Linux 시스템에 대한 이해가 필요합니다.\n• Python, Javascript 등 코드를 작성하고 기본적인 하드웨어 제어를 할 수 있어야 합니다.\n• Git을 사용하고 이를 통한 협업을 충분히 이해해야 합니다.\n• 분산(원격) 근무시 소통에 문제가 없어야 합니다.\n• 로켓펀치 개인 프로필을 충실히 기입한 후 지원하시기 바랍니다.',
  'preferred_points': '• 적극적으로 서비스 개선에 필요한 업무를 찾고 개선할수 있는 인성과 역량\n•  Home Assistant, SmartThings 등 IoT 허브 개발 경험\n• Raspberry PI, Arduino, ESP 등 Single Board Computer에 대한 이해 및 개발 경험\n• 공간 자동화 개발에 필요한 이해 및 구축 경험',
  'category': '개발'}

In [22]:
jd

{'wd_id': 61851,
 'position': '집무실 IoT 개발자',
 'main_tasks': '• 집무실 인프라 구축: (IoT)전원 관리 설계 및 구성, QR 코드 기반 출입 제어 설계 및 구성, 내부 네트워크 설계/구축/관리, IP Camera를 통한 영상 분석 등 집무실에서 사용하는 모든 네트워크 및 IoT 인프라 구축\n• 자동화 관리: 구축된 인프라를 바탕으로한 집무실 공간 자동화 설계 및 구성\n\n• 현재 집무실에서는 이미 QR코드를 통해 출입을 제어하고 네트워크 및 전원 등을 리모트로 관리하고 있습니다. 이런 집무실의 인프라들을 구축하고 관리하게 됩니다.\n• 인프라중 직접 제어가 필요한 경우 개발을 진행합니다.\n• 위의 내용들을 바탕으로 공간 운영 자동화/무인화를 구축합니다.',
 'requirements': '•  IoT를 통한 공간 관리 및 자동화에 대한 높은 관심이 있어야 합니다.\n• Linux 시스템에 대한 이해가 필요합니다.\n• Python, Javascript 등 코드를 작성하고 기본적인 하드웨어 제어를 할 수 있어야 합니다.\n• Git을 사용하고 이를 통한 협업을 충분히 이해해야 합니다.\n• 분산(원격) 근무시 소통에 문제가 없어야 합니다.\n• 로켓펀치 개인 프로필을 충실히 기입한 후 지원하시기 바랍니다.',
 'preferred_points': '• 적극적으로 서비스 개선에 필요한 업무를 찾고 개선할수 있는 인성과 역량\n•  Home Assistant, SmartThings 등 IoT 허브 개발 경험\n• Raspberry PI, Arduino, ESP 등 Single Board Computer에 대한 이해 및 개발 경험\n• 공간 자동화 개발에 필요한 이해 및 구축 경험',
 'category': '개발'}

In [23]:
kkma = Kkma()
wlem = nltk.WordNetLemmatizer()

In [24]:
extract_kor(jd['position'])

['집무실', '개발자']

In [25]:
extract_eng(jd['position'])

['iot', '개발자']

In [26]:
extract_kor('I need a pen')

[]

In [27]:
if (jd['position'] == None) & (jd['main_tasks'] == None):
    print("No input data. At least one of position and main_tasks is needed.")
    
elif jd['position'] != None:
    ex = extract_kor(jd['position'])
    
    if len(ex) == 0:
        ex = extract_eng(jd['position'])
        
else:
    ex = extract_kor(jd['main_tasks'])
    
    if len(ex) == 0:
        ex = extract_eng(jd['main_tasks'])

In [28]:
print(ex)

['집무실', '개발자']

In [29]:
columns = list(pd.read_csv('../data/preprocessed_data.csv', nrows=0).columns)
columns.remove('category')
print(columns[:5])

['전략', '신입', '매니저', '개발자', '디자이너']

In [30]:
#load model
model = pickle.load(open('../model/xgb-model', 'rb'))

In [31]:
df = pd.DataFrame(columns=columns)
df.loc[len(df)] = 0

for col in columns:
    df[col] = df[col].astype('int')

In [32]:
df

,전략,신입,매니저,개발자,디자이너,웹,마,콘텐츠,이상,컨텐츠,...,senior,digital,pm,machine,uiux,marketer,app,graphic,ad,coupang
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
for w in ex:
    if w in df.columns:
        df.loc[0, w] = 1

In [34]:
df

,전략,신입,매니저,개발자,디자이너,웹,마,콘텐츠,이상,컨텐츠,...,senior,digital,pm,machine,uiux,marketer,app,graphic,ad,coupang
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
dtest = xgb.DMatrix(data=df)

In [36]:
int(model.predict(dtest)[0])

0

In [37]:
encoding = pd.read_csv('../data/category_encoding.csv', sep='\t', index_col=0)
encoding

   category
0        개발
1  경영, 비즈니스
2       디자인
3   마케팅, 광고

In [38]:
print(encoding.loc[int(model.predict(dtest)[0]), 'category'])

개발